/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

/*  Fix the width of the viewport */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin: auto;
}

/* .tablet-logo {
  display: none;
} */

/*
.container {
  width: 850px;
  margin: 100px 100px;
}

.nav {
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: gray;
}

.nav li {
  display: inline-block;
  margin: 2%;
  color: lightgray;
}

a {
  text-decoration: none;
  color: lightgray;
}

a:hover {
  color: white;
}

.logo {
  text-align: right;
  margin-left: 100px;
}

.hero li {
  display: inline-block;
}

.tagline {
  text-align: center;
  margin-left: 0;
}

.tagline h1 {
  font-size: 80px;
}

.code-snippet {
  margin: 20px 0 50px 50px;
}

button {
  background-color: white;
  border: 1px solid black;
  width: 200px;
  height: 35px;
  font-size: 18px;
}

.features li {
  display: inline-block;
  margin-top: 30px;
  width: 400px;
}

.features p {
  margin: 10px 0 40px 0;
  max-width: 400px;
}

.first {
  margin-left: 0;
  margin-right: 30px;
}

.middle-img {
  max-width: 100%;
  max-height: 100%;
}

.services li {
  display: inline-block;
  width: 250px;
  margin: 30px 0 30px 20px;
}

.contact {
  margin: 50px 0 20px 0;
}

.copyright {
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    /* smax-width: 600px; 
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .tablet-logo {
    display: block;
  }

  .logo.last img {
    display: none;
  }
  .nav {
    /* display: block; */
/* top: 100px; 
    position: relative;
    background-color: white;
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
  }
  .hero {
    text-align: center;
    /* margin-top: 400px;
  }
  .code-snippet img {
    display: none;
  }

  .services ul {
    max-width: 100%;
  }

  .services ul li {
    max-width: 100%;
  }
}
*/

/* Support for Phone widths */
@media (max-width: 800px) {
  body {
    margin: 0 20px 0 20px;
  }

  .middle-img {
    max-width: 100%;
  }

  /* .tablet-logo {
    display: none;
  } */

  .header-logo {
    display: none;
  }
  .logo.last {
    display: none;
  }

  .tablet-logo img {
    width: 150px;
  }

  .code-snippet {
    display: none;
  }

  nav {
    text-align: center;
  }

  nav ul {
    color: lightgray;
  }

  nav ul li {
    padding: 10px;
    font-size: 14px;
    flex-grow: 1;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .hero {
    /* margin: 10px 20px 50px 20px; */
    border-bottom: 2px solid black;
    padding-bottom: 40px;
  }

  .tagline {
    text-align: center;
    font-size: 50px;
    width: 50%;
    margin: auto;
  }

  button {
    border: 1px solid black;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    background-color: white;
  }

  .services {
    padding-bottom: 30px;
    border-bottom: 2px solid black;
  }

  .features li,
  .services li {
    margin: 30px 0 30px 0;
  }

  .contact {
    margin: 30px 0;
  }

  address li {
    margin-top: 20px;
  }

  .copyright {
    text-align: center;
    margin: 20px;
  }
}

/* Support for table widths */
@media (min-width: 500px) {
  .header-logo {
    margin: 30px 0;
    display: inline;
  }
  nav {
    text-align: center;
    margin-top: 30px;
  }
  nav ul {
    display: flex;
    text-align: center;
  }

  nav ul li {
    display: inline;
    margin: 10px;
  }

  .tablet-logo img {
    display: none;
  }

  .hero {
    padding-bottom: 0;
  }

  .tagline {
    margin: 50px auto;
    width: 25%;
    font-size: 3.5em;
    text-align: center;
  }

  button {
    width: 70%;
  }

  .features {
    margin: 30px 0 30px 0;
  }

  .features ul {
    display: flex;
  }

  .features ul li {
    margin: 10px;
  }

  .features p {
    width: 100%;
  }

  .services ul {
    display: flex;
  }

  .services li {
    margin: 30px 20px 20px 0;
  }
}
